<script type="module">
	import Service from '/api/wjst/service';
	import Dom from '/api/wjst/dom';
	Service.perPage = 1;
	let page = 1;

	if ((await Service.page(1)).length < Service.perPage) {
		Dom.remove('loadServices');
	}

	document.getElementById('loadServices').addEventListener('click', async () => {
		page++;
		const services = await Service.page(page);

		if (services.length < Service.perPage) {
			Dom.remove('loadServices');
		}

		for (const service of services) {
			if (!service.thumbs) {
				service.thumbs = [];
			}
			Dom.add('services', Dom.template('service', {
				price: service.price,
				thumb: service.thumb,
				thumbs: service.thumbs.map(thumb => {
					return Dom.template('service_thumb', {
						name: service.name,
						thumb
					})
				}),
				name: service.name,
				_id: service._id
			}));
		}
	});
</script>

<div class="container-new">
	<div class="row" style="text-align:center;">
		<h1>Service</h1>
		{% if variables.land_decor === "1" %}
		<a href="#page-sample" class="btn btn-circle page-scroll">
			<i class="fa fa-angle-double-down animated"></i>
		</a>
		{% endif %}
		{% if variables.land_decor === "2" %}
		<a href="#page-sample" class="btn btn-circle page-scroll">
			<img src="/rohovskanika/img/free-icon-down-arrow-656777.png">
		</a>
		{% endif %}
		{% if variables.land_decor === "3" %}
		<a href="#page-sample" class="btn btn-circle page-scroll">
			<img src="/rohovskanika/img/free-icon-down-chevron-8213476.png">
		</a>
		{% endif %}
	</div>

	<!-- Page Sample Section -->
	<section id="page-sample">
		<div class="polosar">
			<div class="container content-section text-center" id="services">
				<div class="row">
					<h2 class="text-center">{{{service.name}}}</h1>
					</h2>
					<div class="col-lg-8 col-lg-offset-2">
						<a href="/service/{{{service.id}}}">
							<div class="card">
								<img src="{{{service.thumb}}}" alt="{{{service.name}}}" class="img-rounded">
								<h4>{{{service.description}}}</h4>
							</div>
					</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
</div>
<button class="load-more" id="loadServices">Load more</button>

<div id="template-service">
	<div class="row">
		<h3 class="text-center">{{{service_description}}}</h3>
		{% for service in services %}
		<div class="img-slider">
			<div class="col-md-4">
				<a href="/service/{_id}">
					<div class="card">
						<img src="{thumb}" alt="{thumb}" width="700px" class="img-rounded">
						<div class="card-body">
							<h5 class="card-title">{thumb}</h5>
							<p class="card-text">{short}</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</div>
</div>
</div>
</section>
</div>